/* Base styles */
html, body {
  height: 100%;
  margin: 0;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
body header {
  background-color: black;
  color: white;
  padding: 0.6rem 0;
  text-align: center;
}
body header .topnav #myLinks {
  display: none; /* Hide links by default */
}
body main {
  padding: 1.2rem;
  background-color: black;
  flex: 1;
}
body main h2 {
  font-size: 2.8rem;
  color: white;
}
body main p {
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
}
body footer {
  color: white;
  text-align: center;
  padding: 1.5rem 0;
  width: 100%;
  margin-top: auto;
}

/* Media queries */
@media (max-width: 480px) {
  header {
    font-size: 1em;
    padding: 0.3rem 0;
  }
  header .topnav {
    overflow: hidden;
    background-color: black;
    position: relative;
  }
  header .topnav a {
    color: white;
    padding: 0.8rem 1rem;
    text-decoration: none;
    font-size: 1rem;
    display: block; /* Display links vertically in smaller screens */
  }
  header .topnav .logo {
    display: block;
    position: relative;
    text-decoration: none;
    font-family: Bebas Neue;
    font-weight: bold;
    font-size: 1.8rem;
    right: 125px;
  }
  header .topnav #myLinks {
    display: block; /* Hide links by default */
  }
  header .topnav a.icon {
    color: white;
    display: block;
    position: absolute;
    right: 0;
    top: 6px;
    padding: 0.8rem 1rem;
  }
  header .topnav a:hover {
    color: white;
  }
  header .active {
    background-color: white;
    color: white;
  }
  header .nav_divider {
    position: relative;
    top: 10px;
    width: 100vw;
    border: 10px solid white;
    margin: 0;
    opacity: 1;
  }
  main {
    padding: 0.3rem;
    font-family: Bebas Neue;
    color: white;
  }
  main h2 {
    font-size: 3rem;
  }
  main p {
    font-weight: bold;
    font-size: 1.5rem;
    color: #C7C7C7;
  }
  main #about .col .row #bio {
    font-family: Manrope;
  }
  main #about .col .row a .top_buttons {
    width: auto;
    height: auto;
  }
  main #about .col .row a .top_buttons.contact_button {
    position: relative;
    top: 20px;
  }
  main #about .col .row a .top_buttons.linkedin_button {
    position: relative;
    bottom: 42px;
    left: 200px;
  }
  main #about .col .row a .top_buttons.github_button {
    position: relative;
    bottom: 103px;
    left: 300px;
  }
  main #about .col .row #me {
    position: relative;
    bottom: 50px;
    border-radius: 2%; /* Corrected percentage */
  }
  main #projects .projects_divider {
    position: relative;
    top: 10px;
    right: 20px;
    width: 100vw;
    border: 10px solid white;
    margin: 0;
    opacity: 1;
  }
  main #projects .container-fluid .row h2 {
    position: relative;
    top: 35px;
  }
  main #projects .container-fluid .row p {
    font-family: Manrope;
    position: relative;
    top: 40px;
    font-size: 1.1rem;
    color: #C7C7C7;
  }
  main #projects .container-fluid .ca_co_section {
    position: relative;
    top: 60px;
  }
  main #projects .container-fluid .ca_co_section #ca_co_img {
    position: relative;
    display: block;
    top: 10px;
    right: 33px;
    width: 100vw;
    height: 100%;
  }
  main #projects .container-fluid .ca_co_section .ca-co-demo {
    position: relative;
    text-decoration: none;
    color: #D3E97A;
    top: 15px;
    pointer-events: auto;
    cursor: pointer;
    z-index: 10;
  }
  main #projects .container-fluid .ca_co_section #ca_co_info {
    display: flex;
    position: relative;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0 0 15px 0;
    top: 50px;
    width: 100%;
    overflow: hidden;
  }
  main #projects .container-fluid .ca_co_section #ca_co_info .ca_co_one {
    flex: 1;
    text-align: left;
  }
  main #projects .container-fluid .ca_co_section #ca_co_info .ca_co_two {
    flex: 1;
    text-align: right;
  }
  main #projects .container-fluid .ca_co_section #ca_co_info .list-group-item {
    padding: 0.3rem 0.6rem;
    font-size: 1.5rem;
    word-wrap: break-word;
    border: none;
  }
  main #projects .container-fluid .ca_co_section #ca_co_info .list-group-item .left-side {
    text-align: left;
  }
  main #projects .container-fluid .ca_co_section #ca_co_info .list-group-item .right-side {
    text-align: right;
    padding-right: 18.7rem;
  }
  main #projects .container-fluid .ca_co_section .ca_co_desc {
    color: #C7C7C7;
  }
  main #projects .container-fluid .ca_co_section .ca_co_title {
    color: white;
    font-size: 2.8rem;
    font-family: Bebas Neue;
  }
  main #projects .container-fluid .mu_cloud_section {
    position: relative;
    top: 60px;
  }
  main #projects .container-fluid .mu_cloud_section .mu_cloud {
    position: relative;
    display: block;
    font-size: 2.8rem;
    top: 100px;
  }
  main #projects .container-fluid .mu_cloud_section .mu_cloud_github {
    position: relative;
    text-decoration: none;
    color: #D3E97A;
    top: 140px;
    pointer-events: auto;
    cursor: pointer;
    z-index: 10;
  }
  main #projects .container-fluid .mu_cloud_section #mu_cloud_img {
    position: relative;
    display: block;
    top: 130px;
    right: 33px;
    width: 100vw;
    height: 100%;
  }
  main #projects .container-fluid .mu_cloud_section .mu_cloud_desc {
    position: relative;
    top: 165px;
  }
  main #projects .container-fluid .mu_cloud_section .mu_cloud_title {
    position: relative;
    top: 170px;
    color: white;
    font-size: 2.8rem;
    font-family: Bebas Neue;
  }
  main #projects .container-fluid .mu_cloud_section #mu_cloud_info {
    display: flex;
    position: relative;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0 0 15px 0;
    top: 175px;
    width: 100%;
    overflow: hidden;
  }
  main #projects .container-fluid .mu_cloud_section #mu_cloud_info .mu_cloud_one {
    flex: 1;
    text-align: left;
  }
  main #projects .container-fluid .mu_cloud_section #mu_cloud_info .mu_cloud_two {
    flex: 1;
    text-align: right;
  }
  main #projects .container-fluid .mu_cloud_section #mu_cloud_info .list-group-item {
    padding: 0.3rem 0.6rem;
    font-size: 1.5rem;
    word-wrap: break-word;
    border: none;
  }
  main #projects .container-fluid .mu_cloud_section #mu_cloud_info .list-group-item .left-side {
    text-align: left;
  }
  main #projects .container-fluid .mu_cloud_section #mu_cloud_info .list-group-item .right-side {
    text-align: right;
    padding-right: 18.7rem;
  }
  main #projects .container-fluid .mu_bball_section {
    position: relative;
    top: 150px;
  }
  main #projects .container-fluid .mu_bball_section .mu_bball {
    position: relative;
    display: block;
    font-size: 2.5rem;
    top: 130px;
  }
  main #projects .container-fluid .mu_bball_section .mu_bball_github {
    position: relative;
    text-decoration: none;
    color: #D3E97A;
    top: 175px;
    pointer-events: auto;
    cursor: pointer;
    z-index: 10;
  }
  main #projects .container-fluid .mu_bball_section #mu_bball_img {
    position: relative;
    display: block;
    top: 160px;
    right: 33px;
    width: 100vw;
    height: 100%;
  }
  main #projects .container-fluid .mu_bball_section .mu_bball_desc {
    position: relative;
    top: 195px;
  }
  main #projects .container-fluid .mu_bball_section .mu_bball_title {
    position: relative;
    top: 200px;
    color: white;
    font-size: 2.8rem;
    font-family: Bebas Neue;
  }
  main #projects .container-fluid .mu_bball_section #mu_bball_info {
    display: flex;
    position: relative;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0 0 15px 0;
    top: 210px;
    width: 100%;
    overflow: hidden;
  }
  main #projects .container-fluid .mu_bball_section #mu_bball_info .mu_bball_one {
    flex: 1;
    text-align: left;
  }
  main #projects .container-fluid .mu_bball_section #mu_bball_info .mu_bball_two {
    flex: 1;
    text-align: right;
  }
  main #projects .container-fluid .mu_bball_section #mu_bball_info .list-group-item {
    padding: 0.3rem 0.6rem;
    font-size: 1.5rem;
    word-wrap: break-word;
    border: none;
  }
  main #projects .container-fluid .mu_bball_section #mu_bball_info .list-group-item .left-side {
    text-align: left;
  }
  main #projects .container-fluid .mu_bball_section #mu_bball_info .list-group-item .right-side {
    text-align: right;
    padding-right: 18.7rem;
  }
  main footer .footer_divider {
    position: relative;
    right: 20px;
    width: 100vw;
    border: 10px solid white;
    margin: 0;
    opacity: 1;
  }
  main footer footer p {
    margin: 0.3rem 0;
    font-size: 0.7rem;
    color: #C7C7C7;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  /* Tablet styles */
  header {
    font-size: 1.4em;
  }
  main {
    padding: 0.9rem;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  /* Laptop styles */
  header {
    font-size: 1.6em;
  }
  main {
    padding: 1.5rem;
  }
}
@media (min-width: 1025px) {
  /* Monitor styles */
  header {
    font-size: 1.8em;
  }
  main {
    padding: 1.8rem;
  }
}

/*# sourceMappingURL=styles.css.map */
