/* Base styles */
// SCSS for Mobile Version of Brandon's Portfolio

// Variables
$primary-font: Bebas Neue;
$secondary-font: Manrope;

html, body {
  height: 100%;
  margin: 0;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
}

body {
  font-family: $primary-font;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  header {
    background-color: black;
    color: white;
    padding: 0.6rem 0;
    text-align: center;

    .topnav #myLinks {
      display: none; /* Hide links by default */
    }
  }

  main {
    padding: 1.2rem;
    background-color: black;
    flex: 1;

    h2 {
      font-size: 2.8rem;
      color: white;
    }

    p {
      color: white;
      font-weight: bold;
      font-size: 1.5rem;
    }
  }

  footer {
    text-align: center;
    padding: 1rem 0;
    width: 100%;
    background-color: black;
  }
}

/* Media queries */
@media (max-width: 480px) {
  /* Phone styles */
  header {
    font-size: 1rem;
    padding: 0.3rem 0;

    .topnav {
      overflow: hidden;
      background-color: black;
      position: static;
      transform: translateY(5px);
    }

    .topnav a {
      color: white;
      padding: 0.8rem 1rem;
      text-decoration: none;
      font-size: 1rem;
      display: block; /* Display links vertically in smaller screens */
    }

    .topnav .logo {
      display: block;
      position: static;
      text-decoration: none;
      font-family: $primary-font;
      font-weight: bold;
      font-size: 1.8rem;
      transform: translateX(-128px);
    }

    .topnav #myLinks {
      display: block; /* Hide links by default */
    }

    .topnav a.icon {
      color: white;
      display: block;
      position: absolute;
      right: 0;
      top: 6px;
      padding: 0.8rem 1rem;
    }

    .topnav a:hover {
      color: white;
    }

    .active {
      background-color: white;
      color: white;
    }

    .nav_divider {
      position: static;
      width: 100vw;
      border: 10px solid white;
      margin: 0;
      opacity: 1;
    }
  }

  main {
    padding: 0.3rem;
    font-family: $primary-font;
    color: white;

    h2 {
      font-size: 3rem;
    }

    p {
      font-weight: bold;
      font-size: 1.5rem;
      color: #C7C7C7;
    }

    #about {
      .col {
        .row {
          #bio {
            font-family: $secondary-font;
          }
          a {
            .top_buttons {
              width: auto;
              height: auto;

              &.linkedin_button {
                position: absolute;
                top: 320px;
                left: 20px;
              }

              &.github_button {
                position: absolute;
                top: 320px;
                left: 100px;
              }
            }
          }
          #me {
            position: absolute;
            top: 385px;
            right: 0px;
            border-radius: 2%; /* Corrected percentage */
          }
        }
      }
    }

    #projects {
      .projects_divider {
        position: absolute;
        top: 1000px;
        right: 0rem;
        width: 100vw;
        border: 10px solid white;
        margin: 0;
        opacity: 1;
      }
      .container-fluid {
        .row {
          h2 {
            position: absolute;
            top: 23.5em;
            left: 20px;
          }
          p {
            font-family: $secondary-font;
            position: absolute;
            top: 63.5em;
            left: 20px;
            font-size: 1.1rem;
            color: #C7C7C7;
          }
        }

        //Ca+Co Section
        .ca_co_section {
          padding: 20px;
          max-width: 100%;
          margin: auto;

          #ca_co_start {
            position: absolute;
            display: block;
            top: 79rem;
            left: 20px;
          }
          #ca_co_img {
            position: absolute;
            display: block;
            transform: translateY(60rem);
            right: 0px;
            width: 100vw;
            height: auto;
          }

          .ca-co-demo {
            position: relative;
            text-decoration: none;
            color: #D3E97A;
            top: 840px;
            transform: translateY(1200px);
            pointer-events: auto;
            cursor: pointer;
            z-index: 10;
          }

          .ca_co_info {
            display: flex;
            justify-content: space-between;
            list-style: none;
            padding: 0;
            margin: 15px 0;
            width: 100%;
            overflow: hidden;

            .ca_co_one {
              flex: 1;
              text-align: left;
            }

            .ca_co_two {
              flex: 1;
              text-align: right;
            }

            .list-group-item {
              flex: 1;
              font-size: 1.5rem;
              word-wrap: break-word;
              border: none;
              padding: 0;
              margin: 15px 0;
            }

            .year_general {
              position: absolute;
              transform: translateY(1430px);
              text-align: left;
            }

            .season_title{
                position: absolute;
                transform: translateY(1432px);
                text-align: left;
                right: 100px;
            }

            .role_general {
              position: absolute;
              transform: translateY(1460px);
              text-align: left;
            }

            .role_title {
              position: absolute;
              transform: translateY(1460px);
              text-align: right;
              right: 100px;
            }

            .right-side {
              position: absolute;
              transform: translateY(1450px);
              right: 100px;
              text-align: right;
            }
          }
          .ca_co_desc {
            color: #C7C7C7;
            position: absolute;
            transform: translateY(31rem);
            left: 5px;
          }
          .ca_co_title {
            position: absolute;
            transform: translateY(-66rem);
            color: white;
            font-size: 2.8rem;
            font-family: $primary-font;
          }
        }

        //MU Cloud Section
        .mu_cloud_section {
          padding: 20px;
          max-width: 100%;
          margin: auto;

          .mu_cloud {
            position: absolute;
            display: block;
            font-size: 2.5rem;
            transform: translateY(97rem);
            left: 20px;
          }

          .mu_cloud_github {
            position: relative;
            text-decoration: none;
            color: #D3E97A;
            top: 1699px;
            pointer-events: auto;
            cursor: pointer;
            z-index: 10;
          }

          #mu_cloud_img {
            position: absolute;
            display: block;
            transform: translateY(105rem);
            right: 0;
            width: 100vw;
            height: auto;
          }

          .mu_cloud_desc {
            color: #C7C7C7;
            position: absolute;
            transform: translateY(84rem);
          }

          .mu_cloud_title {
            position: absolute;
            transform: translateY(-9.6rem);
            color: white;
            font-size: 2.8rem;
            font-family: $primary-font;
          }

          #mu_cloud_info {
            display: flex;
            justify-content: space-between;
            list-style: none;
            padding: 0;
            margin: 15px 0;
            width: 100%;
            overflow: hidden;

            .mu_cloud_one {
              flex: 1;
              text-align: left;
            }

            .list-group-item {
              flex: 1;
              font-size: 1.5rem;
              word-wrap: break-word;
              border: none;
              padding: 0;
              margin: 15px 0; 
            }

            .mu_year_general {
                position: absolute;
                transform: translateY(140.5rem);
                text-align: left;
            }

            .mu_year_title {
                position: absolute;
                transform: translateY(140.5rem);
                text-align: right;
                right: 100px;
            }
          }
        }

        //MU BBall Section
        .mu_bball_section {
          padding: 20px;
          max-width: 100%;
          margin: auto;

          .mu_bball {
            position: absolute;
            display: block;
            font-size: 2.2rem;
            transform: translateY(147rem);
            left: 25px;
          }

          .mu_bball_github {
            position: relative;
            text-decoration: none;
            color: #D3E97A;
            top: 2519px;
            pointer-events: auto;
            cursor: pointer;
            z-index: 10;
          }

          #mu_bball_img {
            position: absolute;
            display: block;
            transform: translateY(154rem);
            left: 0;
            width: 100vw;
            height: auto;
          }

          .mu_bball_desc {
            color: #C7C7C7;
            position: absolute;
            transform: translateY(135rem);
          }

          .mu_bball_title {
            position: absolute;
            transform: translateY(41.5rem);
            color: white;
            font-size: 2.8rem;
            font-family: $primary-font;
          }

          #mu_bball_info {
            display: flex;
            justify-content: space-between;
            list-style: none;
            padding: 0;
            margin: 15px 0;
            width: 100%;
            overflow: hidden;

            .mu_bball_one {
              flex: 1;
              text-align: left;
            }

            .list-group-item {
                flex: 1;
              font-size: 1.5rem;
              word-wrap: break-word;
              border: none;
              padding: 0;
              margin: 15px 0;
            }
        
            .bball_general {
              position: absolute;
              transform: translateY(187.5rem);
              text-align: left;
            }

            .bball_title {
            position: absolute;
            transform: translateY(187.5rem);
            text-align: left;
            right: 100px;
            }
          }
        }
      }
    }
}

footer {
    padding: 20px;
    margin: auto;

  .footer_divider {
    right: 20px;
    height: 1px;
    width: 100vw;
    border: none;
    margin: 1rem auto;
    opacity: 1;
  }

  .footer_info{
    position: absolute;
    transform: translateY(172rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    margin: auto;
    width: 90%;
  }

  p {
    margin: 0.3rem 0;
    font-size: 0.7rem;
    color: #C7C7C7;
  }

  .email_icon{
    color: #D3E97A;
    font-size: 1.5rem;
    margin-left: 0.5rem;
  }
}
}

@media (min-width: 481px) and (max-width: 768px) {
    /* Tablet styles */
    header {
        font-size: 1.4em;
    }

    main {
        padding: .9rem;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    /* Laptop styles */
    header {
        font-size: 1.6em;
    }

    main {
        padding: 1.5rem;
    }
}

@media (min-width: 1025px) {
    /* Monitor styles */
    header {
        font-size: 1.8em;
    }

    main {
        padding: 1.8rem;
    }
}